﻿* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .05em;
    line-height: 26px;
    height:100%;
    margin:0px;
    width:100%;
    color: #FFF;
    background-image: url('../images/fondo.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

.content-login{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2dd0c6;
    /*opacity: 0.9;*/
}

.login-logo{
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    width: 75px;
    height: 50%;
    margin: 0px auto;
    top: 10%;
}

.login-form{
    background: #ddd;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

.form-group {
        padding: 10px 15px;
}
.form-group label{
    font-family: "Roboto",sans-serif;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: .05em;
    line-height: 0px;
    margin: 0 0 10px;
    padding: 0px 10px;
    color: #999;
}

#login .form-control{
    border-bottom: solid 1px #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #FFF;
    font-weight: bold;
    background: #ddd;
    box-shadow: none;
}

.btn-login{
    width: 100%;
    background: #6762a0;
}